PORT=5001
NODE_ENV=development

DATABASE_URL=postgresql://postgres:Skippr%402026@db.scrrpuwttrgfmzjtypuh.supabase.co:5432/postgres

JWT_SECRET=7c6f8e6a4d7a91b5c0d4f8a2e6b9c1d3e5f7a9b1c3d5e7f9a1b3c5d7e9f1a3
JWT_EXPIRE=30d

CLIENT_URL=http://localhost:5173